<h2 class="text-center"><%= t('match.title') %></h2>
<div id="landing_pitch">
  <%= t('landing.pitch1') %><br>
  <%= t('landing.pitch2') %>
</div>

<br><br>
<div class="match-container text-center">

</div>
