<!-- jQuery UI -->
<%= stylesheet_link_tag 'https://code.jquery.com/ui/1.11.2/themes/black-tie/jquery-ui.css' %>
<%= javascript_include_tag 'https://code.jquery.com/ui/1.11.2/jquery-ui.min.js' %>

<h2 class="text-center"><%= t('landing.title') %></h2>
<br><br>
<div class="match-container text-center">

</div>