<div class="col-xs-4 landing-module">
  <i class="fa fa-map-marker fa-4x"></i><br>
  Nearby
</div>
<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  dummy
</div>
<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  dummy
</div>
<br>

<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  dummy
</div>
<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  dummy
</div>
<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  dummy
</div>
<br>

<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  dummy
</div>
<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  dummy
</div>
<div class="col-xs-4 landing-module">
  <i class="fa fa-plus fa-4x"></i><br>
  Deals (Coming Soon)
</div>

<style>
.landing-module {
  text-align: center;

  margin-top: 2em;
  padding: 1em;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
</style>
