// Place all the styles related to the Match controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_category,
#search_subarea {
  width: 16em;	
}

.hidden {
  display: none;
}

#match_config {
  margin-bottom: 3em;
}

#match_config .form-control {
  width: 10em;
  display: inline-block;
}

.match-restaurant-box {
  display: inline-block;
  vertical-align: top;
}

.match-restaurant-box {
  width: 21.429em;
  height: 21.429em;
}

.left-select,
.draw-select,
.right-select {
  position: relative;
  padding: 1em 1em 1em 1em;
  background-color: #f0f0f0;
}

#left_never_been,
#right_never_been,
#draw {
  width: 11em;
  display: inline;
}

.match-restaurant {
  position: relative;
  width: 100%;
}

.match-image {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.left-description,
.right-description {
  cursor: pointer;
  position: absolute;
  width: 21.429em;
  height: 4em;
  background-color: rgba(250, 250, 250, 0.5);
}

.left-description,
.right-description {
  bottom: 0em;
}

.left-select,
.left-description {
  background-color: #ff5050;
}

.right-select,
.right-description {
  background-color: #3399ff;
}

.ui-menu .ui-menu-item a{
  color: #96f226;
  border-radius: 0px;
  border: 1px solid #454545;
}