<div id="feedback_trigger"></div>
<div id="feedback_box" class="hidden">
  <!-- TODO - render questions if any -->
  <p>Any feedback would be very much appreciated!</p>
  <textarea id="feedback_body" class="form-control" placeholder="e.g. the review system isn't intuitive, there aren't enough images etc."></textarea><br>
  <button id="send_feedback" class="btn btn-primary">Send</button>
</div>
