<div id="match_config">
  <%= I18n.area %>
  <input type="text" id="subarea_autocomplete" class="form-control" />
  <%= I18n.category %>
  <select id="categories_select" class="form-control" style=""></select>
</div>
<br>
