<div class="col-md-4">
  <div class="match-restaurant left-restaurant">
  	image 1
  </div>
</div>
<div class="col-md-4">
  <button class="btn btn-primary"><%= English['landing.vote'] %></button><br>
  <button class="btn btn-default"><%= English['landing.never_been'] %></button>
</div>
<div class="col-md-4">
  <div class="match-restaurant left-restaurant">
  	image 2
  </div>
</div>