<div id="match_config">
  <input type="text" id="subarea_autocomplete" class="form-control" />
  <select id="categories_select" class="form-control" style=""></select>
  <h4><%= I18n.match.instruction %></h4>
  <div id="match_message"></div>
</div>
<br>
