<div id="match_config">
  <%= t['area'] %>
  <input type="text" id="subarea_autocomplete" class="form-control" />
  <%= t['category'] %>
  <select id="categories_select" class="form-control" style=""></select>
</div>
<br>
