<div class="col-md-4">
  <div class="match-restaurant left-restaurant">
  	image 1
  </div>
</div>
<div class="col-md-4">
  <button class="btn btn-primary"><%= console.log(window.I18n) %></button><br>
  <button class="btn btn-default"></button>
</div>
<div class="col-md-4">
  <div class="match-restaurant left-restaurant">
  	image 2
  </div>
</div>