<div class="text-center">
  <div class="match-restaurant-box">
    <div class="match-restaurant left-restaurant">
      <div class="match-image left-image"></div>
      <div id="left_win" class="left-description match-button"></div>
    </div>
  </div>

  <div class="match-restaurant-box">
    <div class="match-restaurant right-restaurant">
      <div class="match-image right-image"></div>
      <div id="right_win" class="right-description match-button"></div>
    </div>
  </div>

  <br>
  <button id="left_never_been" class="btn btn-default match-button"><%= t['landing.never_been'] %></button>
  <button id="draw" class="btn btn-default match-button"><%= t['landing.draw'] %></button>
  <button id="right_never_been" class="btn btn-default match-button"><%= t['landing.never_been'] %></button>
</div>