<div class="text-center">
  <div class="match-restaurant-box">
    <div class="match-restaurant left-restaurant">
      <div class="match-image left-image"></div>
      <div id="left_win" class="left-description match-button"></div>
    </div>
  </div>
  <div class="match-vs">VS</div>
  <div class="match-restaurant-box">
    <div class="match-restaurant right-restaurant">
      <div class="match-image right-image"></div>
      <div id="right_win" class="right-description match-button"></div>
    </div>
  </div>

  <br>
  <div id="match_extra_buttons">
    <div class="match-button never-been"><i id="left_never_been" class="fa fa-lg fa-refresh"></i></div>
    <div class="match-button draw-button"><u id="draw"><%= I18n.match.draw %></u></div>
    <div class="match-button never-been"><i id="right_never_been" class="fa fa-lg fa-refresh"></i></div>
  </div>
</div>
