<div id="feedback_bar" href="#">
  <%= t('feedback.bar') %>
</div>
<div id="feedback_container">
</div>
  
<style>
#feedback_bar {
  position: fixed;
  background-color: #3399ff;
  padding: 1em 1em 1em 1em;
  color: white;

  width: 20em;
  bottom: 2em;
  right: 2em;

  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}

</style>

<script>
$(function() {
  var view = new App.Views.Feedback();
  $('#feedback_container').html(view.render().$el);
});
</script>
