<nav id="mobile_nav_results" class="navbar navbar-gold navbar-fixed-top">
  <a href="/" id="mobile_home" class="mobile-header-item"><i class="fa fa-chevron-left"></i></a>
  <div id="mobile_search" class="text-center">
  	<div class="mobile-search-label hidden">Find</div>
  	<input id="mobile_search_category" class="form-control" placeholder="<%= t('search.category_hint') %>"></input>
  	<div class="mobile-search-label hidden">Near</div>
  	<input id="mobile_search_area" class="form-control hidden" placeholder="<%= t('search.subarea_hint_mobile') %>" value="Current Location"></input>
  	<div id="search_submit" class="btn btn-default hidden"><i class="fa fa-search"></i></div>
    <div id="autocomplete_results"></div>
  </div>
  <div class="mobile-header-item">
    <i class="fa fa-sliders"></i> Filter
  </div>
</nav>

<style>
.mobile-header-item {
  display: inline-block;
}

#mobile_nav_results #mobile_search_category {
  padding: 0.5em;
}

#mobile_home {
  padding: 1em 3em 1em 1em;
}

#mobile_nav_results #mobile_search {
  width: 60%;
  display: inline-block;
}

</style>

<script>
$(function() {
  var params = parse_url_params();
  if (params.category) {
    $('#mobile_search_category').val(params.category);
  }
});
</script>
