<nav class="navbar navbar-gold">
  <div id="app_title" class="text-center">Restaurant Reviews</div>
  <div id="mobile_menu_trigger" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  	<i class="fa fa-ellipsis-v"></i>
  </div>
  <ul class="dropdown-menu" role="menu">
  	<li><a href="#">Log In</a></li>
    <li class="divider"></li>
    <li><a href="#">Add Review</a></li>
    <li class="divider"></li>
    <li><a href="#">Add Photo</a></li>
    <li class="divider"></li>
    <li><a href="#">Add Restaurant</a></li>
    <li class="divider"></li>
    <li><a href="#">Settings</a></li>
    <li class="divider"></li>
    <li><a href="#">Report a Bug</a></li>
  </ul>

  <br>
  
  <div id="mobile_search" class="text-center">
  	<div class="mobile-search-label hidden">Find</div>
  	<input id="mobile_search_category" class="form-control"></input>
  	<div class="mobile-search-label hidden">Near</div>
  	<input id="mobile_search_area" class="form-control hidden"></input>
  	<i id="search_icon" class="fa fa-large fa-search"></i>

  	<div id="search_submit" class="btn btn-default hidden"><i class="fa fa-search"></i></div>
  </div>
</nav>

<style>
#mobile_menu_trigger {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

nav.navbar ul.dropdown-menu {
  position: absolute;
  right: 0em;
  left: 50%;
  top: 2em;
  width: 50%;
}

#mobile_search {
  padding: 0.3em;
  width: 100%;
}

#search_icon {
  float: left;
  margin-left: 0.5em;
  margin-top: -1.7em;
  z-index: 2;
}

#mobile_search #mobile_search_category {
  padding-left: 2em;
}

#mobile_search input {
  margin: 0 auto;
  float: none;
}

#mobile_search_area {
  width: 60%;
}

.mobile-search-label {
  float: left;
  display: inline-block;
  vertical-align: middle;
}

#search_submit {
  position: absolute;
  top: 3em;
  right: 0.3em;
  width: 3.5em;
  height: 5em;
}

#search_submit .fa-search {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

</style>

<script>
$('#mobile_search_category').click(function() {
  if ($('#mobile_search_category').hasClass('expanded')) {
  	return;
  }

  $('#mobile_search_category').addClass('expanded');
  $("#mobile_search input#mobile_search_category").animate({
    width: '-=40%'
  }, 250);
  $('#search_icon').addClass('hidden');
  $('#mobile_search_category').css('padding', '0.5em');

  $('#mobile_search_area').removeClass('hidden');
  $('.mobile-search-label').removeClass('hidden');
  $('#search_submit').removeClass('hidden');
});

$('#app_title').click(function(e) {
  if (!$('#mobile_search_category').hasClass('expanded') || e.target.id == 'mobile_search_area') {
  	return;
  }

  $('#mobile_search_category').removeClass('expanded');
  $("#mobile_search input#mobile_search_category").animate({
    width: '+=40%'
  }, 250);
  $('#search_icon').removeClass('hidden');
  $('#mobile_search_category').css('padding-left', '2em');

  $('#mobile_search_area').addClass('hidden');
  $('.mobile-search-label').addClass('hidden');
  $('#search_submit').addClass('hidden');
});

</script>
